<div class="products">
  <div *ngFor="let product of products" class="card">
    <a [title]="product.name" [routerLink]="['/products', product.id]">
      <img src={{product.image}} alt={{product.name}} width="300px" height="400px" />

      <div class="prodInfo">
        <p> {{ product.name.toUpperCase() }}</p>
        <p> {{ product.price | currency }}</p>
      </div>
    </a>
    <span>
      <star-rating [value]=product.rating[0] [totalstars]="totalstars" checkedcolor="gold" uncheckedcolor="gray" size="24px" [readonly]="readonly"></star-rating>
    </span>
  </div>
</div>