<div *ngIf="product" class="product">
    <div  class="left">
        <img src={{product.image}} alt={{product.image}}/>
        <div class="productInfo">
            <span>
                <h5>{{ product.name.toUpperCase() }}</h5>
                <h5>{{ product.price | currency }}</h5>
            </span>
            <span>
                <p>Description: {{ product.description }}</p>
                <p>Arrival Date: {{ product.arrivalDate | date: 'dd/MM/yyyy'}}</p>
            </span>
            <span>
                <p>Comments: {{ product.comments.length }}</p>
                <p>Rating: {{ product.rating }}</p>
            </span>
        </div>
    </div>
    <div class="right">
        <h4>Product Summary</h4>
        <div class="tabs">
            <span (click)="seeDetails()" [ngClass]="showDetails ? 'active' : 'passive'">Details</span>
            <span  (click)="seeComments()" [ngClass]="showComments ? 'active' : 'passive'">Comments & Rates</span>
        </div>
        <div  [ngClass]="showDetails ? 'show' : 'hide'">
            <p>
                {{product.detail}}
            </p>
        </div>
        <div [ngClass]="showComments ? 'show' : 'hide'">
            <p *ngFor="let comment of product.comments" >
                {{comment}}
            </p>
            <form (ngSubmit)="onSubmit()" class="add-form">
                <div class="form-control">
                    <label for="name">Change Name</label>
                    <input type="text" name="name" [(ngModel)]="name" id="name" placeholder="change name">
                </div>
                <input type="submit" value="Send" class="btn btn-block btn-success">
            </form>
        </div>
   
    </div>
</div>